// Colours
$black: #000;
$dark-grey: #555;
$green: #4ddf69;
$mid-grey: #aaa;
$light-grey: #dedede;
$lighter-grey: #eee;
$lightest-grey: #f6f6f6;
$red: #c00;
$white: #fff;
$background-colour: #0f172a;

// Buffers
$layout-buffer: 100px;
