@use '../../styles/variables';

.home {
  margin: 16px;

  &, .navgrid-content {
    display: flex;
  }

  .navgrid-content {
    align-items: center;

    .content-text {
      margin-right: 24px;

      li {
        list-style-type: disc;
        margin-left: 12px;
      }
      
      .top-spacing {
        display: block;
        margin-top: 12px;
      }
    }
  }
}
