@use '../../styles/variables';

section {
  clear: both;
  background: variables.$white;
  border-bottom: 5px solid variables.$lightest-grey;

  .navgrid-text {
    float: left;
    padding-right: 30px;
    width: 585px;
  }
}

@media all and (min-width: variables.$large-size) {
  section {
    .navgrid-text {
      width: 885px;
    }
  }
}
