@use '../../styles/variables';

$character-width: 30px;
$horizontal-placement: 25;
$vertical-placement: 35;

.navgrid {
  position: relative;
  margin: auto;
  height: 390px;
  width: 355px;
  text-align: center;
  box-sizing: border-box;
  float: right;

  p {
    font-family: 'Muli', Verdana, Arial, sans-serif;
    font-size: 30px;
    font-weight: bold;
  }

  .hWord, .vWord {
    position: absolute;
    margin: 0;
  }
}

.grid-link {
  color: variables.$mid-grey;
  z-index: 0;

  &:hover {
    color: variables.$dark-grey;
    z-index: 2;
  }

  &.active {
    color: variables.$red !important;
    z-index: 1;
  }
}

.grid-link, .selected {
  cursor: pointer;
}

.SIMPLE {
  top: $vertical-placement * 0px; /* (vertPlacement * 0) */
  left: $horizontal-placement * 3px; /* (horizPlacement * 3) */
}

.PORTFOLIO {
  top: $vertical-placement * 2px; /* (vertPlacement * 2) */
  left: $horizontal-placement * 1px; /* (horizPlacement * 1) */
}

.RESPONSIVE {
  top: $vertical-placement * 4px; /* (vertPlacement * 4) */
  left: $horizontal-placement * 4px; /* (horizPlacement * 4) */
}

.CREATIVE {
  top: $vertical-placement * 6px; /* (vertPlacement * 6) */
  left: $horizontal-placement * 4px; /* (horizPlacement * 4) */
}

.ABOUT {
  top: $vertical-placement * 7px; /* (vertPlacement * 7) */
  left: $horizontal-placement * 0px; /* (horizPlacement * 0) */
}

.INTERACTIVE {
  top: $vertical-placement * 0px; /* (vertPlacement * 0) */
  left: $horizontal-placement * 4px; /* (horizPlacement * 4) */
}

.CONTACT {
  top: $vertical-placement * 3px; /* (vertPlacement * 3) */
  left: $horizontal-placement * 0px; /* (horizPlacement * 0) */
}

.SIMPLE, .PORTFOLIO, .RESPONSIVE, .CREATIVE, .ABOUT, .INTERACTIVE, .CONTACT {
  &-char {
    position: absolute;
    width: $character-width;
  }
}

.hWord {
  span {
    position: absolute;
  }
  .char1 {
    left: $horizontal-placement * 0px;
  }
  .char2 {
    left: $horizontal-placement * 1px;
  }
  .char3 {
    left: $horizontal-placement * 2px;
  }
  .char4 {
    left: $horizontal-placement * 3px;
  }
  .char5 {
    left: $horizontal-placement * 4px;
  }
  .char6 {
    left: $horizontal-placement * 5px;
  }
  .char7 {
    left: $horizontal-placement * 6px;
  }
  .char8 {
    left: $horizontal-placement * 7px;
  }
  .char9 {
    left: $horizontal-placement * 8px;
  }
  .char10 {
    left: $horizontal-placement * 9px;
  }
  .char11 {
    left: $horizontal-placement * 10px;
  }
}

.vWord {
  span {
    position: absolute;
  }
  .char1 {
    top: $vertical-placement * 0px;
  }
  .char2 {
    top: $vertical-placement * 1px;
  }
  .char3 {
    top: $vertical-placement * 2px;
  }
  .char4 {
    top: $vertical-placement * 3px;
  }
  .char5 {
    top: $vertical-placement * 4px;
  }
  .char6 {
    top: $vertical-placement * 5px;
  }
  .char7 {
    top: $vertical-placement * 6px;
  }
  .char8 {
    top: $vertical-placement * 7px;
  }
  .char9 {
    top: $vertical-placement * 8px;
  }
  .char10 {
    top: $vertical-placement * 9px;
  }
  .char11 {
    top: $vertical-placement * 10px;
  }
}