.modal {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.85);
  opacity: 0;
  transition: opacity 0.3s ease;
  align-items: flex-start;

  &.visible {
    opacity: 1;
  }

  &, .modal-content {
    display: flex;
  }

  .modal-content {
    margin: 136px auto;
    border-radius: 10px;
    justify-content: center;
  }

  .modal-actions {
    margin-top: 24px;

    button {
      cursor: pointer;
      margin-left: 4px;
    }
  }
}
