// Colours
$black: #000;
$dark-grey: #555;
$mid-grey: #aaa;
$light-grey: #dedede;
$lighter-grey: #eee;
$lightest-grey: #f6f6f6;
$red: #c00;
$white: #fff;

// Media sizes
$large-size: 1280px;
$medium-size: 960px;


footer {
  clear: both;

  ul {
    margin-top: -1px;
    padding-top: -1px;
  }

  .column-footer {
    padding: 10px 0 30px;
    font-size: 0.9em;
    width: 33%;
    display: inline-block;
    vertical-align: top;
    text-align: center;
  }
}
