@use './styles/variables';

body {
  margin: 0 auto;
  font-family: 'Muli', 'Arial', sans-serif;
}

html, main, footer {
  background: variables.$lightest-grey;
}

header, footer, main, div, section, aside {
  box-sizing: border-box;
}

a {
  font-weight: bold;
  color: variables.$mid-grey;
  text-decoration: none;

  &:active {
    color: variables.$red;
  }

  &:hover {
    color: variables.$dark-grey;
  }
}

.no-bullet {
  list-style-type: none;
}

.no-indent {
  padding-left: 0;
}

.container {
  margin: auto;
  padding: 10px;
  width: 1280px;

}

.clearfix {
  clear: both;
}

@media all and (max-width: variables.$large-size) {
  .container {
    width: 960px;
  }
}

@media all and (max-width: variables.$medium-size) {
  .container {
    width: 100%;
  }
}
