// Colours
$black: #000;
$dark-grey: #555;
$mid-grey: #aaa;
$light-grey: #dedede;
$lighter-grey: #eee;
$lightest-grey: #f6f6f6;
$red: #c00;
$white: #fff;

// Media sizes
$large-size: 1280px;
$medium-size: 960px;


body {
  margin: 0 auto;
  font-family: 'Muli', 'Arial', sans-serif;
}

html, main, footer {
  background: $lightest-grey;
}

header, footer, main, div, section, aside {
  box-sizing: border-box;
}

a {
  font-weight: bold;
  color: $mid-grey;
  text-decoration: none;

  &:active {
    color: $red;
  }

  &:hover {
    color: $dark-grey;
  }
}

.no-bullet {
  list-style-type: none;
}

.no-indent {
  padding-left: 0;
}

.container {
  margin: auto;
  padding: 10px;
  width: 1280px;

}

.clearfix {
  clear: both;
}

@media all and (max-width: $large-size) {
  .container {
    width: 960px;
  }
}

@media all and (max-width: $medium-size) {
  .container {
    width: 100%;
  }
}
